@page "/profil"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<AuthorizeView>
    <h3>Hi! Sie sind angemeldet mit <i>@context.User.Identity.Name</i>.</h3>
</AuthorizeView>

@code {


}
