@page "/registrierung"
@using Blazored.FluentValidation
@inject IAuthDienst AuthDienst

<PageTitle>Registrierung</PageTitle>
<h3>Registrierung</h3>

<EditForm Model="benutzer" OnValidSubmit="HandleRegistrierung">
    <FluentValidationValidator/>

    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="benutzer.Email" class="form-control"/>
        <ValidationMessage For="@(()=>benutzer.Email)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label for="passwort">Passwort</label>
        <InputText id="passwort" @bind-Value="benutzer.Passwort" class="form-control" type="passwort"/>
        <ValidationMessage For="@(()=>benutzer.Passwort)"></ValidationMessage>

    </div>
    <div class="mb-3">
        <label for="passwortBestätigen">Passwort Bestätigen</label>
        <InputText id="passwortBestätigen" @bind-Value="benutzer.PasswortBestätigen" class="form-control" type="passwort" />
        <ValidationMessage For="@(()=>benutzer.PasswortBestätigen)"></ValidationMessage>

    </div>
    <button type="submit" class="btn btn-outline-success">Registrieren</button>
    <div class="text-danger">
        <span>@fehlerMeldung</span>
    </div>
</EditForm>
@code {
    BenutzerRegistrieren benutzer = new BenutzerRegistrieren();

    string fehlerMeldung = string.Empty;

    async Task HandleRegistrierung()
    {
        var resultat = await AuthDienst.RegistrierungAsync(benutzer);
        if (!resultat.Erfolg)
            fehlerMeldung = resultat.Nachricht;
        else
            fehlerMeldung = string.Empty;
    }
}