.container{
    display:flex;
    padding:6px;
}
.image-wrapper{
    width:150px;
    text-align:center;
}
img:hover {
    transform: scale(1.1) rotate(5deg);
}
.img {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.name{
    flex-grow:1;
    padding:6px;
}
.warenkorb-produkt-preis{
    font-weight:600;
    text-align:right;
}
.btn{
    padding:2px;
    border:none;
    font-size:15px;
}
.btn:hover{
    text-decoration:underline;
}