@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

@if(autorisiert)
{
    <a class="dropdown-item" href="admin/kategorien">Kategorien</a>
    <a class="dropdown-item" href="admin/produkt-arten">Produktarten</a>
    <a class="dropdown-item" href="admin/produkte">Produkte</a>
    <hr />
}

@code {
    bool autorisiert = false;
    protected override async Task OnInitializedAsync()
    {
        string rolle = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Claims.
        FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;
        if(rolle.Contains("Admin"))
        {
            autorisiert = true;
        }
    }
}
