@inject IWarenKorbDienst WarenKorbDienst
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable


<a href="theke" class="btn btn-warning">
    <i class="oi oi-cart"></i>
    <span class="badge">@GeheZurWatenKorbArtikelTheke()</span>
</a>

@code {
    private int GeheZurWatenKorbArtikelTheke()
    {
        var warenKorb = LocalStorage.GetItem<List<WarenKorbArtikel>>("warenkorb");
        return warenKorb != null ? warenKorb.Count : 0;
    }
    protected override void OnInitialized()
    {
        WarenKorbDienst.BeiÄnderung += StateHasChanged;
    }
    public void Dispose()
    {
        WarenKorbDienst.BeiÄnderung -= StateHasChanged;
    }
}
