@inject NavigationManager NavigationManager
<button @onclick="GeheZurStartSeite" class="btn btn-outline-primary startseite-button">
    Mein Laden
</button>

@code {
    private void GeheZurStartSeite()
    {
        NavigationManager.NavigateTo("");
    }
}
