@inject IWarenKorbDienst WarenKorbDienst
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable


<a href="warenkorb" class="btn btn-warning">
    <i class="oi oi-cart"></i>
    <span class="badge">@GeheZurWarenKorbArtikelTheke()</span>
</a>

@code {
    private int GeheZurWarenKorbArtikelTheke()
    {
        var anzahl = LocalStorage.GetItem<int>("warenKorbArtikelAnzahl");
        return anzahl;
    }
    protected override void OnInitialized()
    {
        WarenKorbDienst.BeiÄnderung += StateHasChanged;
    }
    public void Dispose()
    {
        WarenKorbDienst.BeiÄnderung -= StateHasChanged;
    }
}
